*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div{
  background-color: #adb6db;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.class_div{
  width: 25%;
  height: 80vh;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background-color: white;
}
.class_div h1{
  color: aliceblue;
  background-color: #8566aa;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.class_div input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline: none;
}
/* .add{
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #8566aa;
  color: #8566aa;
  font-size: x-large;
  border: none;
  outline: none;
  margin: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.add:hover{
  background-color: #20bf6b;
} */
.add:hover{
  background-color: #20bf6b;
}
.class_div ol{
  background: transparent;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 30px;
  justify-content: center;
  align-items: left;
}
.class_div li{
  padding-left: 0;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  color: #8566aa;
  margin: 5px 10px;
  text-transform: capitalize;
}
.todo-list{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.delete{
  height: 30px;
  width: 30px;
  padding: 0%;
  border-radius: 20%;
  border-color: transparent;
  background-color: #fff;
  color: #8566aa;
  margin: 2.5px;
  /* font-size: medium; */
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.delete:hover{
  background-color: rgb(241, 65, 65);
  color: #fff;
}